
@{
  ViewBag.Title = "C# Courses";
}
<table border="1">
  <tr><th colspan="3">C# Courses</th></tr>

  <tr>
  <tr><th colspan="2"><img height="200" src="@Url.Content("~/images/CS.png")" alt="C#" /></th></tr>
  <tr>
    <th>Trainer Profile</th>
    <td>
      <a target="_blank" href="https://ckleng.azurewebsites.net/Common/TrainerProfile")">Download</a>
    </td>
  </tr>
  @*<tr>
    <th>Code Sharing for Flex (Will delete after 4/Feb/2023)</th>
    <td>
      <ul>
        <li><a target="_blank" href="@Url.Content("~/DOC/Day1.zip")">Day1.zip</a><br /></li>
        <li><a target="_blank" href="@Url.Content("~/DOC/Day2.zip")">Day2.zip</a><br /></li>
        <li><a target="_blank" href="@Url.Content("~/DOC/Day3.zip")">Day3.zip</a><br /></li>
      </ul>
    </td>
  </tr>*@

</table>

<br />
<table border="1">
  <tr><th colspan="2">Useful URLs</th></tr>
  <tr><th>Visual Studio Download Site</th><td><a href="@Url.Content("https://visualstudio.microsoft.com/downloads/")" target="_blank">link</a></td></tr>
  <tr><th>Visual Studio Code Download Site</th><td><a href="@Url.Content("https://code.visualstudio.com/download")" target="_blank">link</a></td></tr>
  <tr><th>.NET Framework Download Site</th><td><a href="@Url.Content("https://dotnet.microsoft.com/download/dotnet-framework")" target="_blank">link</a></td></tr>
  <tr><th>Skillpipe</th><td><a href="@Url.Content("https://www.skillpipe.com/")" target="_blank">link</a></td></tr>
</table>
