@using CS.Models
@{
  string Code = "SE001CS";
  Course Course = Repo.Courses[Code];
  ViewBag.Title = Course.Title;
}
<table border="1">
  <tr><th colspan="3" style="background-color:darkseagreen"><h1>@ViewBag.Title</h1></th></tr>
  <tr>
    <th>Course Outline</th>
    <td colspan="2">
      <a target="_blank" href="@Url.Content("https://ckleng.azurewebsites.net/Common/Outline/"+Code)">Outline</a><br />
    </td>
  </tr>
  <tr>
    <th>Reading Material</th>
    <td colspan="2">
      <a target="_blank" href="@Url.Content($"~/DOC/{Code}/C Sharp Fundamentals.pdf")">C Sharp Fundamentals.pdf</a><br />
    </td>
  </tr>

  <tr>
    <th>PowerPoint Slides</th>
    <td colspan="2">

      <a href="@Url.Content($"~/DOC/{Code}/Intro.pptx")">Intro.pptx</a>
    </td>
  </tr>

  <tr style="background-color:darkgoldenrod"><th>Day</th><th>Modules</th><th>Sharing</th></tr>
  <tr>
    <th rowspan="4">1</th>
    <th>
      @Html.Partial("_Module", Course["Introduction"])
    </th>
    <th rowspan="4">
      <ul>
        <li><a href="@Url.Content($"~/CODE/{Code}/Day1.zip")">Day1.zip</a></li>
        <li><a href="@Url.Content($"~/DOC/{Code}/Day1.xlsx")">Day1.xlsx</a></li>
      </ul>
    </th>
  </tr>
  <tr>
    <th>
      @Html.Partial("_Module", Course["Flow Control"])
    </th>
  </tr>
  <tr>
    <th>
      @Html.Partial("_Module", Course["Basic Types"])
    </th>
  </tr>
  <tr>
    <th>
      @Html.Partial("_Module", Course["Operators"])
    </th>
  </tr>
  <tr>
    <th rowspan="3">2</th>
    <th>
      @Html.Partial("_Module", Course["Classes and Objects"])
    </th>
    <th rowspan="3">
      <ul>
        <li><a href="@Url.Content($"~/CODE/{Code}/Day2.zip")">Day2.zip</a></li>
        <li><a href="@Url.Content($"~/DOC/{Code}/Day2.xlsx")">Day2.xlsx</a></li>
        <li><a target="_blank" href="https://secourses.azurewebsites.net/OOPCS">Introduction Basic Object-Oriented Concepts</a></li>
      </ul>
    </th>
  </tr>
  <tr>
    <th>
      @Html.Partial("_Module", Course["Access Modifiers"])
    </th>
  </tr>
  <tr>
    <th>
      @Html.Partial("_Module", Course["Methods, Fields and Properties"])
    </th>
  </tr>
  <tr>
    <th rowspan="5">3</th>
    <th>
      @Html.Partial("_Module", Course["Parameters"])
    </th>
    <th rowspan="5">
      <ul>
        <li><a href="@Url.Content("~/DOC/"+Code+"/Day3.xlsx")">Day3.xlsx</a></li>
        <li><a href="@Url.Content($"~/CODE/{Code}/ParameterSolution.zip")">ParameterSolution.zip</a></li>
        <li><a href="@Url.Content($"~/CODE/{Code}/DataTypeSolution.zip")">DataTypeSolution.zip</a></li>
        <li><a href="@Url.Content($"~/CODE/{Code}/CollectionSolution.zip")">CollectionSolution.zip</a></li>
        <li><a href="@Url.Content($"~/DOC/{Code}/Error Handling.pptx")">Error Handling.pptx</a></li>
        <li><a href="@Url.Content($"~/CODE/{Code}/ExceptionHandlingSolution.zip")">ExceptionHandlingSolution.zip</a></li>
        <li><a href="@Url.Content($"~/CODE/{Code}/DelegateSolution.zip")">DelegateSolution.zip</a></li>
      </ul>
   </th>
  </tr>
  <tr>
    <th>
      @Html.Partial("_Module", Course["Array"])
    </th>
  </tr>
  <tr>
    <th>
      @Html.Partial("_Module", Course["Useful Collections"])
    </th>
  </tr>
  <tr>
    <th>
      @Html.Partial("_Module", Course["Errors and Exception Handling"])
    </th>
  </tr>
  <tr>
    <th>
      @Html.Partial("_Module", Course["Delegates and Events"])
    </th>
  </tr>
</table>
<br />
<table border="1">
  @if (Repo.Books.FirstOrDefault(e => e.Category.Contains(Code)) != null) {
    <tr style="background-color: lightcoral;"><th colspan="3">Recommanded Books</th></tr>
    foreach (var book in Repo.Books.FindAll(b => b.Category.Contains(Code))) {
      @Html.Partial("_Book", book);
    }
  }
</table>
<br />
<table border="1">
  <tr>
    <td><h4>Useful Links</h4></td>
    <td>
      <!--
      <ul>
        <li><a target="_blank" href="https://docs.microsoft.com/en-us/learn/certifications/exams/az-204">Exam AZ-204: Developing Solutions for Microsoft Azure</a></li>
        <li><a target="_blank" href="https://parveensingh.com/how-to-pass-az-204-in-30-days/">How to pass AZ-204 in 30 Days!</a></li>
      </ul>
      -->
    </td>
  </tr>
  <tr>
    <th colspan="2" width="100%">
      <table border="1">
        @if (Repo.Exams.FirstOrDefault(e => e.Category.Contains(Code)) != null) {
          <tr style="background-color: crimson;"><th colspan="3">Exam Preparation</th></tr>
          foreach (var exam in Repo.Exams.FindAll(e => e.Category.Contains(Code))) {
            @Html.Partial("_Exam", exam);
          }
        }
      </table>
    </th>
  </tr>
</table>
